//FONTS
$body-font: 'Roboto Slab';
$header-font: 'Montserrat';
$filter-box-font: 'Roboto';

//TEXT COLOR
$text-color: black;
$text-hover-color: #7b7b7b;

//COLORS
$primary-color: white;
$secondary-color:#f6f6f6;
$article-color: white;
$article-footer-color: white;
$dropdown-color: #e6e6e6;
